<header>
  <h1>Editing tweet</h1>
  <%= link_to "Back to tweets", tweets_path, class: "btn" %>
</header>

<%= turbo_frame_tag @tweet do %>
  <section class="tweet">
    <%= render "form", tweet: @tweet %>
  </section>
<% end %>