<%= turbo_stream_from :tweets %>

<header>
  <%= render "count", tweets: @tweets %>
  <h1>Tweets</h1>
  <%= render "form", tweet: Tweet.new %>
</header>

<section id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</section>
